$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.box {
  border: 1px solid black;
  display: flex;
  background-color: teal;
  justify-content: center;
  height: 80px;
}

body{
  display: box;
  background-color: pink;

}
.border {
  border: 3px solid #000;
  margin: 5px 20px;
  padding: 10px;
  display: box;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
h1 {
flex-grow: 1;
flex-wrap: wrap;

}
